.articles {
  @media (min-width: 1600px) {
    .container-lg {
      max-width: 1600px;
    }
  }
  @media(max-width: 1600px){
    .container-lg{
      min-width: 94%;
    }
  }
@media (max-width: 992px) {
 &__wrapper-card{
   flex: 1 1 47%;
 }

}

  @media (max-width: 576px) {
    &__heading{
      &-title{
        font-size: $font-xl;
      }
    }
    &__wrapper {
      &-card {
        flex: 1 1 100%
      }
    }
  }
}