.banner{
  //height: calc(100vh - #{$gradient-shadow-height * 2});
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url("../assets/img/h.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;

  h1{
    color: $white-color;
    @extend %font-xl
  }
  &__scroll{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }
}
