.intro {
  @media (max-width: 1200px) {
    &__wrapper {
      &-right {
        flex: 1 1 100%;
      }
    }
  }

  @media(max-width: 1023px) {
    &__wrapper {
      flex-direction: column;
    }
  }
  @media(max-width: 567px) {
    &__wrapper {
      &-left {
        &-title {
          font-size: $font-xl;
        }
      }
    }
  }


}

