.company {

  @media (max-width: 2800px) and (min-width: 1405px) {
    .container {
      max-width: 1720px;
    }
  }
  @media (min-width: 1450px) {
    .row {
      border-radius: 12px;
      overflow: hidden;
    }
  }

  @media (max-width: 1440px) {
    .container {
      min-width: 100%;
    }
  }
}